<footer class="footer">
<nav>
    <ul class="footer_nav">
        <a class="footer_nav_item">
            <li>Home</li>
        </a>
        <a class="footer_nav_item">
            <li>about</li>
        </a>
        <a class="footer_nav_item">
            <li>Contact</li>
        </a>
    </ul>
</nav>
</footer>