<header>
<nav class="header_nav">
    <div class = "global_nav_item">twittermodoki</div>
    <ul class="global_nav">
        <a class = "global_nav_item">
        <li>Home</li>
        </a>
        <a class = "global_nav_item">
        <li>about</li>
        </a>
        <a class = "global_nav_item">
        <li>Contact</li>
        </a>
</nav>
</header>
